body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* Light gray background */
  animation: fadeIn 1s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Set a minimum height of the viewport */
}

#container {
  text-align: center;
  background-color: #fff; /* White container background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
  max-width: 600px; /* Limit container width for better readability */
}

h1, h2 {
  font-size: 2em;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  animation: fadeIn 1s ease-in-out;
}

label, input, textarea {
  display: block;
  margin-top: 20px; /* Increased margin for better spacing */
  opacity: 0;
  animation: slideIn 1s forwards;
}

input, textarea {
  width: 100%; /* Full width for input fields */
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
  margin-top: 10px; /* Adjusted margin for better spacing */
}

input:focus, textarea:focus {
  border-color: #4CAF50;
}

label {
  font-weight: bold;
  color: #555;
  text-align: left;
}

#image, textarea {
  margin-top: 20px; /* Increased margin for better spacing */
}

#instructions-label,
#image-label {
  text-align: center;
  margin-top: 20px; /* Increased margin for better spacing */
}

#ingredients div {
  display: flex;
  flex-direction: column; /* Adjusted layout for ingredients */
  margin-top: 20px; /* Increased margin for better spacing */
}

#addSpace, #post {
  margin-top: 30px; /* Increased margin for better spacing */
  padding: 12px 24px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#addSpace:hover, #post:hover {
  background-color: #45a049;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

nav {
  background-color: #4caf50;
  overflow: hidden;
  height: 100px;
  width: 100%;
}

nav a,
#title {
  margin-top: 35px; /* Adjusted margin for better spacing */
  float: none;
  display: inline-block; /* Adjusted display for inline alignment */
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  text-shadow: none;
}

#title {
  font-size: 36px; /* Slightly reduced font size */
}

a {
  font-size: 18px; /* Slightly reduced font size */
  margin-left: 20px; /* Increased margin for better spacing between nav items */
}

/* Animation keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
