/*
 * Nilufer Demirbas, Salim Choura, Yanxihao Chen, and Adrianna Koppes
 * This file contains the CSS styling for the how to page. It specifies
 * the fade-in effect, as well as the styling for the nav bar and the
 * text on the page. The styling is consistent with the rest of the site.
 * 
 * File Author: Adrianna Koppes
 */

body {
	background-color: whitesmoke;
    font-family: 'Arial', sans-serif;
}

html,
body {
	margin: 0;
	padding: 0;
}

h1 {
    font-size: 40px;
    margin-left: 20px;
    color: black;
}

h2 {
    font-size: 30px;
    margin-left: 20px;
    color: black;
}

p {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: black;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@keyframes bounceIn {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1);
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

nav {
    background-color: #4caf50;
    overflow: hidden;
    height: 100px;
}

nav a,
#title {
    margin-top: 30px;
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-left: 30px;
}

#title {
    margin-top: 0px;
    font-size: 60px;
}

body
{
    animation: fadeIn 1s ease-in-out;
}

a {
    font-size: 20px;
}