/* Author: Salim Choura, Yanxiao Chen, 
 * Adrianna Shingyi Koppes, Nilufer Demirbas
/* Course: CSC 337
/* Description: Style file for post.html */
h1{
    color: #4CAF50;
    padding-top: 3%;
    padding-left:7%;
    text-align: left;
    font-weight: bolder;
    font-size:25px;
}

.post
{
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    color: black;
}

.comment, #comments {
    max-width: 800px;
    background-color: #fff;
    padding: 13px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#postContent{
    margin: 5%;
}

h2{
    padding-left:7%;
    text-align: left;
    font-weight: bolder;
    font-size: 50px;
}
textarea{
    margin-left:7%;
    text-align: left;
}
button{
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-left:7%;
    font-size: 13px;
}
#editPostButton
{
    margin-left: 11vw;
}

#postText{
    margin-left:7%;
    margin-right:7%;
    margin-top: 20px;
    padding: 20px;
}
.fComment{
    position: relative;
    z-index: 10;
}
#comments{
    margin-left:17vw;
    margin-right:7%;
    text-align: left;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes bounceIn {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
}
@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
#content{
    font-family: 'Arial', sans-serif;
}
html,body{
    margin:0;
    height: 100%;
    place-items: center;
    text-align: center;
    background: rgb(137, 247, 151);;
}
nav {
    background-color: #4caf50;
    overflow: hidden;
    height: 100px;
    font-family: 'Arial', sans-serif;
}
body
{
    text-align: left;
    animation: fadeIn 1s ease-in-out;
    font-family: 'Arial', sans-serif;
}
nav a,
#title {
    margin-top: 30px;
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-left: 30px;
}
#title {
    margin-top: 0px;
    font-size: 60px;
}
a{
  font-size: 20px;
}