body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightpink;
}

#recipeBlock {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

span {
    font-size: 24px;
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
}

button {
    background-color: #e7e7e7;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.stars {
    width: 20px;
    height: 20px;
}

/* Pie chart and legend styles */
svg {
    display: block;
    margin: 20px auto;
}

text {
    fill: black;
    font-size: 14px;
}

rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
}
