body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    animation: fadeIn 1s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  h2 {
    text-align: center;
    color: #333;
    animation: bounceIn 1s ease-in-out;
  }
  
  @keyframes bounceIn {
    from {
      transform: scale(0.8);
    }
    to {
      transform: scale(1);
    }
  }
  
  #login,
  #createAcc {
    width: 300px; /* Set a fixed width for both blocks */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    text-align: center;
    animation: slideIn 1s ease-in-out;
  }
  
  @keyframes slideIn {
    from {
      transform: translateY(-20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    animation: fadeInUp 1s ease-in-out;
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    animation: fadeIn 1s ease-in-out;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #warning {
    color: red;
    font-weight: bold;
    animation: fadeIn 1s ease-in-out;
  }

  
